* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1vh;
  width: 100%;
  height: 370vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

/* TABLE STYLES */

.tg-container {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 81;
  box-shadow: 5px 10px 10px #051937;
}

.tg {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.tg td {
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  padding: 1rem 0.5rem;
  overflow: hidden;
  word-break: normal;
  background-color: #e0ffeb;
}
.tg th {
  font-family: "Lobster", cursive;
  font-size: 3.5rem;
  color: white;
  padding: 1rem 0.5rem;
  overflow: hidden;
  word-break: normal;
  background-color: #008793;
}
.tg .tg-peda {
  background-color: #00bf72;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: left;
  vertical-align: center;
}
.tg .tg-nx8p {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  vertical-align: center;
}

/* LOCATIONS */

.location-title {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 90;
  grid-row-end: 104;
  align-items: center;
  padding: 2.5rem;
  background-color: #0d0d0d;
  opacity: 0.9;
  transform: rotate(-2deg);
  color: white;
}

.location-title h2 {
  font-family: "Bangers", cursive;
  letter-spacing: 0.7rem;
  line-height: 5.5rem;
  font-size: 5rem;
  text-align: center;
}

.location {
  position: relative;
  grid-column-start: 4;
  grid-column-end: 10;
  height: 100%;
  width: 100%;
  box-shadow: 5px 10px 10px #051937;
}

.location h3 {
  position: absolute;
  background-color: #0d0d0d;
  color: white;
  padding: 1rem;
  display: inline-block;
  transform: translate(2rem, -2rem);
  font-size: 1.6rem;
}

.location-1 {
  grid-row-start: 114;
  grid-row-end: 145;
}

.location-2 {
  grid-row-start: 156;
  grid-row-end: 186;
}

.location-3 {
  grid-row-start: 196;
  grid-row-end: 226;
}

.location-4 {
  grid-row-start: 236;
  grid-row-end: 266;
}

.location-5 {
  grid-row-start: 276;
  grid-row-end: 306;
}

.location-6 {
  grid-row-start: 316;
  grid-row-end: 346;
}

/* BACK BUTTON */

.btn-container {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 350;
  grid-row-end: 360;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-back {
  width: 20rem;
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background-color: #00bf72;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  box-shadow: 5px 10px 10px #051937;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.button-back:hover {
  transform: scale(1.04);
  box-shadow: 5px 10px 15px #051937;
  background-color: #008793;
}

.button-up {
  position: absolute;
  top: 0;
  right: 15rem;
  font-size: 5rem;
  color: white;
  transition: 0.2s ease-in-out;
}

.button-up:hover {
  transform: translateY(-1rem);
  cursor: pointer;
}
