* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1vh;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

/* TABLE STYLES */

.tg-container {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 81;
  box-shadow: 5px 10px 10px #051937;
}

.tg {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size: 1.4rem;
  padding: 1rem .5rem;
  overflow: hidden;
  word-break: normal;
  background-color:#E0FFEB;
}
.tg th{
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  color: white;
  padding: 1rem .5rem;
  overflow: hidden;
  word-break: normal;
  background-color: #008793;
}
.tg .tg-peda{
  background-color: #00bf72;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: left;
  vertical-align: center;
}
.tg .tg-nx8p{
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  vertical-align: center;
}

/* BACK BUTTON */

.back-btn-container {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 86;
  grid-row-end: 96;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-back {
  width: 20rem;
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background-color: #00bf72;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  box-shadow: 5px 10px 10px #051937;
  transition: 0.2s ease-in-out;
}

.button-back:hover {
  transform: scale(1.04);
  box-shadow: 5px 10px 15px #051937;
  background-color: #008793;
}
