* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

.content-wrapper { 
  display: grid; 
  grid-template-columns: repeat(12, 1fr); 
  grid-auto-rows: 1vh; 
  grid-gap: 0;
} 

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: 8vh;
  grid-column-start: 1;
  grid-column-end: 13;
  /* grid-row-start: 1;
  grid-row-end: 8; */
  font-size: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
  /* background-image: linear-gradient(to right, white , #8C8C8C); */
  background-color: #ffffff;
  opacity: 0.9;
  /* box-shadow: 5px 5px 5px black; */
  z-index: 10;
}

.navbar-logo {
  display: flex;
  align-items: center;
  align-self: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Lobster', cursive;
}

.navbar-logo p {
  font-size: 2rem;
  font-family: inherit;
  margin-right: 1.5rem;
}

.navbar-logo i {
  font-size: 2rem;
}

.navbar-logo span {
  padding-right: 1.5rem;
  margin: 1.5rem;
  border-right: 1px solid black;
  font-weight: bold;
  font-size: 2rem;
}

/* .navbar-links {
  width: 30%;
  height: 100%;
  padding-right: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
} */

/* .navbar-links a {
  color: aliceblue;
  text-decoration: none;
  transition: 0.2s ease-in-out;
} */

/* .navbar-links a:hover {
  transform: scale(1.2);
} */

/* .outer-menu {
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 1;
} */

/* NAVBAR HAMBURGER ANIMATION */
.menu li a {
  text-decoration: none;
  font-family: inherit;
  color: #0D0D0D;
}

.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before, .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: .75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity .4s ease .4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 6rem;
  height: 6rem;
  padding: .5em 1em;
  background: white;
  /* border-radius: 0 .12em .12em 0; */
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow .4s ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: .2rem;
  background: black;
  transition: all .4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before, .outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -1rem;
  left: 0;
  width: 100%;
  height: .2rem;
  background: inherit;
  transition: all .4s ease;
}
.outer-menu .hamburger > div:after {
  top: 1rem;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  /* color: #FEFEFE; */
  /* background: rgba(41,98,255,0.97); */
  background-color: #F2F2F2;
  border-radius: 50%;
  transition: all .4s ease;
  flex: none;
  transform: scale(0);
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity .4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color .4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #0D0D0D;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #0D0D0D;
  transition: width .4s ease;
}

/* SHOWCASE */

.showcase {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 101;
  position: relative;
  background-image: url(../img/show.jpeg);
  background-size: cover;
  /* filter: grayscale(70%); */
  filter: contrast(100%);
  transition: .5s ease-in-out;
}

.showcase:hover {
  /* filter: grayscale(20%); */
  filter: contrast(130%);
}

.showcase-image {
  position: absolute;
  top: 15%;
  left: 3%;
  height: 20rem;
}

.showcase-image img {
  height: 100%;
}

.showcase-title {
  position: absolute;
  top: 28%;
  left: 18%;
  width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;
  color: white;
  background-color: #0D0D0D;
  opacity: 0.7;
  transform: rotate(-5deg);
}

.showcase-title h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: .7rem;
  line-height: 5.5rem;
  font-size: 5rem;
  text-align: center;
}

.showcase-quote {
  position: absolute;
  top: 50%;
  left: 22%;
  padding: 3rem;
  width: 60rem;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 2rem;
  color: #404040;
  background-color: white;
  opacity: 0.9;
  transform: rotate(-1deg);
  border-radius: 5px;
}

.showcase-quote span {
  font-weight: bold;
  display: block;
  padding-top: 2rem;
}

/* ABOUT SECTION */

.about-container {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 101;
  grid-row-end: 235;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container h2 {
  padding: 8rem;
  font-size: 3.5rem;
}

.about-text {
  padding: 0 10rem 0 10rem;
  font-size: 2rem;
} 

.about-cards-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 8rem 5rem 2rem;
}

.about-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 10px 10px #888888;
  width: 25%;
  height: auto;
  transition: 0.3s ease-in-out;
  background-color: white;
}

.about-card:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px 10px #888888;
}

.about-card-image_1 {
  height: 25rem;
  background-image: url(../img/visit.jpg);
  background-size: cover;
  filter: opacity(80%);
}

.about-card-image_2 {
  height: 25rem;
  background-image: url(../img/champion.jpg);
  background-size: cover;
  filter: opacity(80%);
}

.about-card-image_3 {
  height: 25rem;
  background-image: url(../img/signup.jpg);
  background-size: cover;
  filter: opacity(80%);
}

.about-card h3 {
  padding: 2rem;
  font-size: 1.6rem;
}

.about-card h3 {
  padding: 2rem;
  font-size: 2rem;
}

.about-card-text-container {
  font-size: 1.4rem;
  padding: 0 3rem 3rem;
}

/* CONTACT SECTION */

.contact-container {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 235;
  grid-row-end: 336;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-container h2 {
  padding: 8rem;
  font-size: 3.5rem;
}

.contact-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.contact-details-list {
  font-size: 1.6rem;
}

.contact-details-list li {
  list-style: none;
}

.contact-social-media {
  font-size: 7rem;
}