* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

.content-wrapper { 
  display: grid; 
  grid-template-columns: repeat(12, 1fr); 
  grid-auto-rows: 1vh; 
  grid-gap: 0;
} 

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: 8vh;
  grid-column-start: 1;
  grid-column-end: 13;
  /* grid-row-start: 1;
  grid-row-end: 8; */
  font-size: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
  /* background-image: linear-gradient(to right, white , #8C8C8C); */
  background-color: #ffffff;
  opacity: 0.9;
  /* box-shadow: 5px 5px 5px black; */
  z-index: 10;
}

.navbar-logo {
  display: flex;
  align-items: center;
  align-self: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Lobster', cursive;
}

.navbar-logo p {
  font-size: 2rem;
  font-family: inherit;
  margin-right: 1.5rem;
}

.navbar-logo i {
  font-size: 2rem;
}

.navbar-logo span {
  padding-right: 1.5rem;
  margin: 1.5rem;
  border-right: 1px solid black;
  font-weight: bold;
  font-size: 2rem;
}

.navbar-links {
  width: 30%;
  height: 100%;
  padding-right: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.navbar-links a {
  color: aliceblue;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.navbar-links a:hover {
  transform: scale(1.2);
}

/* SHOWCASE */

.showcase {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 101;
  position: relative;
  background-image: url(../img/show.jpeg);
  background-size: cover;
  /* filter: grayscale(70%); */
  filter: contrast(100%);
  transition: .5s ease-in-out;
}

.showcase:hover {
  /* filter: grayscale(20%); */
  filter: contrast(130%);
}

.showcase-image {
  position: absolute;
  top: 15%;
  left: 3%;
  height: 20rem;
}

.showcase-image img {
  height: 100%;
}

.showcase-title {
  position: absolute;
  top: 25%;
  left: 18%;
  width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;
  color: white;
  background-color: #0D0D0D;
  opacity: 0.7;
  transform: rotate(-5deg);
}

.showcase-title h1 {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: .5rem;
  line-height: 4.5rem;
  font-size: 4rem;
  text-align: center;
}

.showcase-quote {
  position: absolute;
  top: 45%;
  left: 22%;
  padding: 3rem;
  width: 60rem;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 2rem;
  color: #404040;
  background-color: white;
  opacity: 0.9;
  transform: rotate(-1deg);
  border-radius: 10px;
}

.showcase-quote span {
  font-weight: bold;
  display: block;
  padding-top: 2rem;
}

/* ABOUT SECTION */

.about-container {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 101;
  grid-row-end: 235;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container h2 {
  padding: 8rem;
  font-size: 3.5rem;
}

.about-text {
  padding: 0 10rem 0 10rem;
  font-size: 2rem;
} 

.about-cards-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 8rem 5rem 2rem;
}

.about-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 10px 10px #888888;
  width: 25%;
  height: auto;
  transition: 0.3s ease-in-out;
  background-color: white;
}

.about-card:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px 10px #888888;
}

.about-card-image_1 {
  height: 25rem;
  background-image: url(../img/visit.jpg);
  background-size: cover;
  filter: opacity(80%);
}

.about-card-image_2 {
  height: 25rem;
  background-image: url(../img/champion.jpg);
  background-size: cover;
  filter: opacity(80%);
}

.about-card-image_3 {
  height: 25rem;
  background-image: url(../img/signup.jpg);
  background-size: cover;
  filter: opacity(80%);
}

.about-card h3 {
  padding: 2rem;
  font-size: 1.6rem;
}

.about-card h3 {
  padding: 2rem;
  font-size: 2rem;
}

.about-card-text-container {
  font-size: 1.4rem;
  padding: 0 3rem 3rem;
}

/* CONTACT SECTION */

.contact-container {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 235;
  grid-row-end: 336;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-container h2 {
  padding: 8rem;
  font-size: 3.5rem;
}

.contact-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.contact-details-list {
  font-size: 1.6rem;
}

.contact-details-list li {
  list-style: none;
}

.contact-social-media {
  font-size: 7rem;
}